.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.header-app {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-before-web3-connect{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registering-infos {
  align-items: center;
  justify-content: center;
}

.button-connect {
  width: 130px;
  height: 60px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.button-connect:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 90%;
  height: 80%;
  border: 1px solid #000;
  opacity: 0;
  transition: all 0.3s ease;
}
.button-connect:hover:after {
  opacity: 1;
}

.App-link {
  color: #09d3ac;
}
